<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fis.nfc.sdk" >

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="32" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <!-- <activity --> 
        <!-- android:theme="@style/Theme.NFCSDK" -->
        <!-- android:name=".StartNfcActivity" -->
        <!-- android:exported="false"> -->


        <!-- </activity> -->

        <activity
            android:name="com.fis.nfc.sdk.nfc.stepNfc.NFCStepActivity"
            android:exported="false" />
        <activity
            android:name="com.fis.nfc.sdk.nfc.stepNfc.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.fis.nfc.sdk.nfc.stepNfc.ResultNfcActivity"
            android:exported="false" />
    </application>

</manifest>